---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Extended Operation Handler"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Extended Operation Handlers processes the different types of extended operations in the server.

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

