---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Ldap Correlation Attribute Pair"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Optional correlation attributes additional to the pair specified by the primary-correlation-attribute and secondary-correlation-attribute properties. If specified, these attribute pairs must also have matching values between the parent SCIM Resource Type and the Correlated LDAP Data View.

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

