---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Mac Secret Key"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The Mac Secret Key represents a message authentication code (MAC) used to verify data integrity and authentication of messages. For example, the Mac Secret Keys are used for backups, LDIF exports and signed log files.

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

