---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Obscured Value"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Obscured Values can be used to store arbitrary values in the configuration that will be stored in obscured form, in which the plaintext representation is not obvious from its obscured representation. This may be particularly useful when developing Server SDK extensions that may need to store credentials used to access external systems or other sensitive information.

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

