---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Otp Delivery Mechanism"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

OTP Delivery Mechanism are used to deliver one-time passwords to users for use with the UNBOUNDID-DELIVERED-OTP SASL mechanism. Delivery mechanisms should send a one-time password value to the user via some out-of-band mechanism (e.g., e-mail, SMS, voice call, etc.) rather than over LDAP.

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

