---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Password Generator"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Password Generators are used by the password modify extended operation to construct a new password for the user.

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

