name: Terraform Provider Acceptance Tests

on:
  pull_request:
    paths:
      - '.github/workflows/acceptance-tests.yaml'
      - '**.go'
      - 'Makefile'

permissions:
  contents: read

jobs:
  acceptance:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.19.5'
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.2.*'
          terraform_wrapper: false
      - run:
          mkdir -p $HOME/.pingidentity/ && echo "$CONFIG" >> $HOME/.pingidentity/config && make testacccomplete
        env:
          TF_ACC: '1'
          CONFIG: ${{ secrets.Config }}