name: Scheduled Acceptance Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *'
     
jobs:       
  ping_directory_nine_one:
    name: Ping Directory 9.1.0.0
    env:
      PINGDIRECTORY_TAG: "9.1.0.0-latest"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          cache: true
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.2.*'
          terraform_wrapper: false
      - run: mkdir -p $HOME/.pingidentity/ && echo "$CONFIG" >> $HOME/.pingidentity/config && grep -E "[a-zA-Z]" $HOME/.pingidentity/config || exit 1 && make testacccomplete && make removetestcontainer
        env:
          TF_ACC: '1'
          CONFIG: ${{ secrets.Config }}
  ping_directory_nine_two:
    name: Ping Directory 9.2.0.0
    env:
      PINGDIRECTORY_TAG: "9.2.0.0-latest"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          cache: true
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.2.*'
          terraform_wrapper: false
      - run: mkdir -p $HOME/.pingidentity/ && echo "$CONFIG" >> $HOME/.pingidentity/config && grep -E "[a-zA-Z]" $HOME/.pingidentity/config || exit 1 && make testacccomplete && make removetestcontainer
        env:
          TF_ACC: '1'
          CONFIG: ${{ secrets.Config }}